@media all{
body{
	width:100%;
	font-family: Helvetica;
	background-color:grey;
	margin:auto;
}

input{
	width: 100%;
	font-size:10pt;
}

div.vid-controls{
	background-color:rgb(180, 184, 206);
	width:100%;
	overflow:auto;
}

input.button{
	color:#FD4545;
	font-weight:bold;
	text-transform:uppercase;
	font-size:20pt;
	background:black
}

input.btn-control{
	width:auto;
	margin: 0px;
	margin-top:10px;
	margin-bottom:10px;
}

div.green{
	background:#B8E7AD;
}

div.menu{
	text-align:center;
	
}

div.menu_item{
	background: gainsboro;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.menu_title{
	font-size:35pt;
	color:#FD4545
}

div.menu_desc{
	font-size:8pt;
}

a:visited{
	text-decoration: none !important;
}

a{
	text-decoration: none !important;
}

div.red{
	background:#E7ADAD;
}

input.btnInput{
	font-size:20pt;
}

div.hidden{
	display:none;
}

div.list-container{
	margin:auto;
	margin-top: 2%;
	width: 100%;
	padding-top:2%;
	padding-bottom:2%;
	background-color: #EFF7F4;
}

div.img-thumb{
	margin:auto;
}

div.item-desc{
	width:80%;
	text-align:left;
	overflow:auto;
}

div.list-row{
	margin-bottom: 1%;
	overflow: auto;
	clear: both;
	padding-top: 1%;
	padding-bottom: 1%;
	cursor: pointer;
}

h1.header_one{
	font-size:50pt;
	text-align: center;
	color: #E2E2E2;
	background: #000000;
}

div.f_left{
	float:left;
}

div.f_right{
	float:right;
}

div.clear-both{
	clear:both
}

label.title-form{
	font-size:20pt;
	font-weight:bold;
}

select{
	margin:0 auto;
	width:100%;
	background:black;
	color:white;
	font-size:14pt;
}

div.main{
	padding-bottom:5%;
	margin-top:10%;
	padding-top:5%;
	margin-left:2.5%;
	width:95%;
	background-color:white;
	overflow: auto;
	min-height:80%;
	#text-align:center;
}
div.button{
	width:50%;
	background:green;
}
}
