<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="static/css/main.css" type="text/css" rel="stylesheet" >
		<script src="static/js/js.js"></script>
		<title>PIOmxControl</title>
	</head>
	<body>
		<div class="main">
			<h1 class="header_one"><a href="/">BMC</a></h1>
			<div class="menu">
				<div class="menu_item">
					<a href="/radio">
						<div class="menu_title">Radio</div>
					</a>
					<div class="menu_desc">
						Here you can select your radio station play the radio selected
					</div>
					<div class="menu_foot"></div>
				</div>

				<div class="menu_item">

				<a href="/youtube">
					<div class="menu_title">Youtube</div>
				</a>

				<div class="menu_desc">
					Here you can search throught youtube and play the movies you choose
				</div>
				</div>

				<div class="menu_item">
					<a href="/local">
						<div class="menu_title">Local</div>
					</a>
					<div class="menu_desc">
						Here you can search through local files to play media content
					</div>
				</div>

				<div class="menu_item">
					<a href="/torrents">
						<div class="menu_title">Torrents</div>
					</a>
					<div class="menu_desc">
						Turn on/off the torrent daemon
					</div>
				</div>

				<div class="menu_item">
					<a href="/messages">
						<div class="menu_title">Messages</div>
					</a>
					<div class="menu_desc">
						Here you can send messages for the system journal.<br/>
						This is a mechanism to process async tasks on the main server.<br/>
						You have several topis you can use to do specific stuff
					</div>
				</div>
		</div>
	</body>
</html>
