<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="static/js/js.js"></script>
	<link href="static/css/main.css" type="text/css" rel="stylesheet">
	<title>YoutubeOMXPlayer</title>
	</head>
	<body>
		<div class="main">
			<h1 class="header_one"><a href="/">BMC</a></h1>
			<div class="vid-controls">
				<input class="btn-control" type="button" id="sndUp" value="UP"/>
				<input class="btn-control" type="button" id="sndDw" value="DW"/>
				<input class="btn-control" type="button" id="tooglePlay" value="Pause/Play"/>
				<input class="btn-control" type="button" id="forward" value="Forward"/>
				<input class="btn-control" type="button" id="backward" value="Backwards"/>
				<input class="btn-control" type="button" id="subtitles" value="Subtitles"/>
			</div>
			<div class="menu_item"><div class="menu_title text_center">Search for Youtube Files</div>
			<input type="text" id="searchTxt"/>
			<input class="button" type="button" id="searchBtn" value="Find"/>
			<div id="data-container" class="list-container">
			</div>
			<input class="button" type="button" id="moreBtn" value="More"/>
		</div>
	</body>
	<script>
	var yt_data=null;
	$('searchBtn').onclick=function(){
		$('data-container').innerHTML="";
		loadYTData(1);
	}
	var loadYTData=function(startIndex){
   	var aj=new BLauLib.Ajax();
   	var query=$('searchTxt').value;
   	aj.onLoaded=function(){
       		yt_data=aj.getJSON();
       		$('data-container').innerHTML+=yt_data.data.items.AMap(BuildEntry).join("\n");
		addRowEvents();
   	}
   	aj.open("GET","http://gdata.youtube.com/feeds/api/videos?q="+query+"&v=2&alt=jsonc&start-index="+startIndex);
   	aj.send(null);
	}

	$('moreBtn').onclick=function(){
		var startIndex=1
		if(yt_data!=null) startIndex=yt_data.data.startIndex+yt_data.data.itemsPerPage;
		loadYTData(startIndex);
	}

	var BuildEntry=function(el){
		var str="<div class='list-row green'>";
		str+="<div class='img-thumb'><img src='"+el.thumbnail.sqDefault+"'></img></div>";
		str+="<div class='item-desc f_left'>"+el.title+"</div>"
		str+="<div class='hidden'>"+el.player.default.substr(0,el.player.default.indexOf("&"))+"</div>";
		str+="</div>";
		return str;
	}
	
	var addRowEvents=function(){
		var nl=$('#list-row');
		var arrNd = Array.prototype.slice.call(nl);
		arrNd.map(function(el){
			el.onclick=function(){
				var nnl=$('#list-row');
				var arrNNd=Array.prototype.slice.call(nl);
				arrNNd.map(function(ell){
					ell.className="list-row green";
				});
				this.className="list-row red";
				var link=this.getElementsByClassName('hidden')[0].innerHTML;
				playMovie(link);
				
				
			}
		});

	};


                var btns=[
                                ['sndDw','-'],['sndUp','+'],['tooglePlay',' '],
                                ['forward','o'],['backward','i'],['subtitles','s']
                         ];

                var sendCommand=function(cmd){
                        var aj=new BLauLib.Ajax();
                        aj.addVar("command",encodeURIComponent(cmd));
                        aj.onLoaded=function(){};
                        aj.callPost("command");
                };

                btns.BMap(function(el,pos){
                        var btn=el[0];
                        var com=el[1];
                        $(btn).onclick=function(){
                                sendCommand(com);
                        }
                });
	
	   var sendCommand=function(cmd){
		var aj=new BLauLib.Ajax();
		aj.addVar("command",encodeURIComponent(cmd));
		aj.onLoaded=function(){}
		aj.callPost("command");
	    };

	var playMovie=function(strLink){
		var aj=new BLauLib.Ajax();
		aj.addVar('url',encodeURIComponent(strLink));
		aj.onLoaded=function(){
		}
		aj.callPost("pl");
	};
	</script>
</html>
